<!DOCTYPE html>
<html ng-app="mmApp">
<title>Mental Math practice</title>

<link rel="stylesheet" type="text/css" href="style.css"/>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="scripts.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body ng-controller="mmAppController">

    <div class="questionBox">

        <div class="main-text">Mental Math</div>
        <form name="exercises">

            <div>
                <input type="radio" ng-model="mode" value="learning" ng-click="refreshQuestion()"> Learning mode
                <input type="radio" ng-model="mode" value="exercise" ng-click="refreshQuestion()"> Select an exercise
            </div>

        <select ng-show="mode === 'exercise'" name="chooseExercise" ng-model="option" ng-change="refreshQuestion()">
            <option value="0">shuffle all</option>
            <option value="1">2-by-2 addition</option>
            <option value="2">3-by-3 addition</option>
            <option value="3">4-by-3 addition</option>
            <option value="4">2-by-2 subtraction</option>
            <option value="5">3-by-3 subtraction</option>
            <option value="6">4-by-3 subtraction</option>
            <option value="7">2-by-1 multiplication</option>
            <option value="8">3-by-1 multiplication</option>
            <option value="9">2-digit squares</option>
            </select>
        </form>

        <div ng-hide="mode === 'learning' && revisionComplete">
            <div ng-show="mode === 'learning'">{{exerciseName}}. {{progress.questionsRemaining}} remaining.</div>

            <div class="main-text calculation">
                <div class="left-calc inline">
                    <span>{{var1}}</span>
                    <span ng-bind-html="operator | html"></span>
                    <span>{{var2}}</span>
                    <span>=</span>
                </div>
                <div class="right-calc inline" ng-show="showAnswer">
                    {{answer}}
                </div>
            </div>
        </div>

        <div ng-show="mode === 'learning' && revisionComplete">
            <div>Revision complete!</div>
            <button ng-click="clearProgressAndReset()">Reset</button>
        </div>

        <div ng-hide="mode === 'learning' && revisionComplete" class="cb">
            <button ng-hide="showAnswer" class="mainButton" ng-click="showAnswer = true">reveal answer</button>

            <span ng-show="mode === 'exercise'">
                <button ng-show="showAnswer" class="mainButton" ng-click="refreshQuestion()">refresh</button>
            </span>
            <span ng-show="mode === 'learning'">
                <button ng-show="showAnswer" class="halfButton" ng-click="correctAnswer()">&#10003;</button>
                <button ng-show="showAnswer" class="halfButton" ng-click="incorrectAnswer()">&#10007;</button>
            </span>

            <button class="questionButton inline" ng-click="helpMe()">?</button>
        </div>
    </div>

</body>

</html>

<!--
-algorithm for learning
-carry on adding with book
-->
