<!DOCTYPE html>
<html ng-app="mmApp">
<title>Mental Math practice</title>

<link rel="stylesheet" type="text/css" href="appStyle.css"/>
<script src="angular.js"></script>
<script src="angular-cookies.js"></script>
<script src="scripts.js"></script>

<body ng-controller="mmAppController">

    <div class="questionBox">

        <div class="main-text">Mental Math</div>
        <form name="exercises">

            <div>
                <input type="radio" ng-model="mode" value="learning" ng-click="resetQuestion()"> Learning mode
                <input type="radio" ng-model="mode" value="exercise" ng-click="nextRandomQuestion()"> Select an exercise
            </div>

        <select ng-show="mode === 'exercise'" name="chooseExercise" ng-model="option" ng-change="nextRandomQuestion()">
            <option value="0">shuffle all</option>
            <option value="1">2-by-2 addition</option>
            <option value="2">3-by-3 addition</option>
            <option value="3">4-by-3 addition</option>
            <option value="4">2-by-2 subtraction</option>
            <option value="5">3-by-3 subtraction</option>
            <option value="6">4-by-3 subtraction</option>
            <option value="7">2-by-1 multiplication</option>
            <option value="8">3-by-1 multiplication</option>
            <option value="9">2-digit squares</option>
            </select>
        </form>

        <div ng-show="!revisionComplete">
            <div ng-show="mode === 'learning'">{{exerciseName}}. Answered {{progress.numberOfAnswersCorrect}} of 3</div>

            <div class="main-text calculation">
                <div class="left-calc inline">
                    <span>{{var1}}</span>
                    <span ng-bind-html="operator | html"></span>
                    <span>{{var2}}</span>
                    <span>=</span>
                </div>
                <div class="right-calc inline" ng-show="showAnswer">
                    {{answer}}
                </div>
            </div>
        </div>

        <div ng-show="revisionComplete">
            <div>Revision complete!</div>
            <button ng-click="clearProgressAndReset()">Reset</button>
        </div>

        <div class="cb">
            <button ng-hide="showAnswer" class="mainButton" ng-click="showAnswer = true">reveal answer</button>

            <span ng-show="mode === 'exercise'">
                <button ng-show="showAnswer" class="mainButton" ng-click="nextRandomQuestion()">refresh</button>
            </span>
            <span ng-show="mode === 'learning'">
                <button ng-show="showAnswer" class="halfButton" ng-click="correctAnswer()">&#10003;</button>
                <button ng-show="showAnswer" class="halfButton" ng-click="resetQuestion()">&#10007;</button>
            </span>

            <button id="questionButton" class="inline" ng-click="helpMe()">?</button>
        </div>
    </div>

</body>

</html>


<!--
    0) get calculation inline DONE
    1) create next function DONE
    2) get random switch working DONE
    2b) continue in intellij DONE
    3) refactor functions to avoid repeating code
    3) add checkbox selectors DONE
    3b)refactor buttons into one for refresh/reveal DONE
    3c) comment out/remove current exercise prompt - think about where its going to go eventually! DONE
    4) get mental math learning files
    5) add progression in actual order
    create minimum values for e.g. 3-by-3
    add parameters to sum engine to reduce about of code

6) continue when decide to actually make app

edit launcher to put app on bottom right
minimise appearance of 4-by-3s?
change pointer for counter hover
add support for space bar/return key
fix loading flicker issue/hideshow button correct?
re-add negatives?
-->
